<p-toast>
</p-toast>

<div class="center-card" *ngIf="!isEditing && user">
<p-card header="{{user.firstName}} {{user.lastName}}" [style]="{width: '650px'}" styleClass="shadow-2" >
  <ng-template pTemplate="header">
    <img alt="{{user.firstName}}" src="{{user.image}}">
  </ng-template>
  <p><span style="font-weight: bold">Email:</span> {{user.email}}</p>
  <p><span style="font-weight: bold">Phone:</span> {{user.phone}}</p>
  <p><span style="font-weight: bold">Birth date:</span> {{user.birthDate | date:"dd.MM.yyyy"}}</p>
  <p><span style="font-weight: bold">Gender:</span> {{user.gender}}</p>
  <ng-template pTemplate="footer">
    <p-button *ngIf="!isEditing" icon="pi pi-pencil" label="Edit" (click)="isEditing = true" styleClass="p-button-info"></p-button>
    <p-button *ngIf="!isEditing" icon="pi pi-shopping-cart" label="Carts" (click)="onOpenCarts(user.id)" [style]="{'margin-left': '.5em'}" styleClass="p-button-info"></p-button>
  </ng-template>
</p-card>
</div>

<div class="center-card" *ngIf="isEditing && user">
  <p-card header="{{user.firstName}} {{user.lastName}}" [style]="{width: '650px'}" styleClass="shadow-2" >
    <ng-template pTemplate="header">
      <img alt="{{user.firstName}}" src="{{user.image}}">
    </ng-template>
    <ng-container><p><label for="email" style="font-weight: bold; margin: 10px">Email:</label> <input id="email" pInputText type="text" [(ngModel)]="user.email" [readonly]="!isEditing"></p></ng-container>
    <ng-container><p><label for="phone" style="font-weight: bold; margin: 10px">Phone:</label> <input id="phone" pInputText type="text" [(ngModel)]="user.phone" [readonly]="!isEditing"></p></ng-container>
    <ng-container><p><label for="birthDate" style="font-weight: bold; margin: 10px">Birth date:</label> <input id="birthDate" pInputText type="text" [(ngModel)]="user.birthDate" [readonly]="!isEditing"></p></ng-container>
    <ng-container><p><label for="gender" style="font-weight: bold; margin: 10px">Gender:</label> <input id="gender" pInputText type="text" [(ngModel)]="user.gender" [readonly]="!isEditing"></p></ng-container>
    <ng-template pTemplate="footer">
      <p-button (click)="onSaveEditedUser(user.id)" label="Save" icon="pi pi-check" styleClass="p-button-primary"></p-button>
      <p-button (click)="isEditing = false" label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
    </ng-template>
  </p-card>
</div>
